{% extends 'base.html' %}
{% block content %}

<h1>Workout List</h1>

{% for workout in workouts %}
    <div class="card">
        <a href="/workouts/{{ workout.id }}">
            <div class="card-content">
            <p>Exercise: {{ workout.exercise }}</p>
            <p>Sets: {{ workout.sets }}</p>
            <p>Reps: {{ workout.reps }}</p>
            <p>Created: {{ workout.created }}</p>
            <p>Updated: {{ workout.updated }}</p>
            </div>
        </a>
    </div>
{% endfor %}

{% endblock %}